@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "sfsocialclub";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #F6F3EE;
  --color-base-300: oklch(95% 0 0);
  --color-base-content: rgb(71, 60, 56);
  --color-primary: #3645B8;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #E93E2A;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #014C24;
  --color-accent-content: #82AC98;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: rgba(115, 147, 201, 0.31);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


.rdp-month_caption {
  display: none
}

.react-day-picker {
  .rdp-day {
    width: 5.25rem;
    height: 3.25rem;
    text-align: center;
  }

  .rdp-day_button {
    display: inline-flex;
    font-size: 16px;
  }

  & .rdp-selected {
    .rdp-day_button {
      color: var(--color-base-content);
      background-color: var(--color-info);
      border-radius: var(--radius-field);
      border: none;
    }
  }

  & .rdp-today:not(.rdp-outside):not(.rdp-selected) {
    .rdp-day_button {
      &:hover {
        background-color: var(--color-base-200);
      }

      background: inherit;
      color:inherit;
    }

  }
}